@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
html{
    box-sizing: border-box;
}
body{
    
    min-height: 100vh;
    background-color: rgb(125, 104, 219);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: Yellowtail ,sans-serif;
    flex-direction: column;
}

.button{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color: rgb(38, 27, 197);
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
    font-family: Yellowtail ,sans-serif;
  }
